## mako

<%namespace name='static' file='/static_content.html'/>

<div id="su-footer">
  <div class="su-container">
    <div class="su-row">
      <div id="su-footer-logo" class="span2">
        <a href="http://www.hddi.org">
          <img
            src="${static.url('images/hddi-logo.png')}"
            alt="Leadr"
            width="105"
            height="49"
          />
        </a>
      </div>
      <div id="su-footer-text" class="span10">
        <ul id="global-links">
          <li class="home"><a href="http://www.hddi.org">Her Dear Diary Initiative</a></li>
          <li class="maps alt"><a href="#">Maps &amp; Directions</a></li>
          <li class="search-stanford"><a href="#">Search Leadr</a></li>
          <li class="emergency alt"><a href="#">Emergency Info</a></li>
        </ul>
        <ul id="policy-links">
          <li class="terms alt"><a href="#">Terms of Use</a></li>
          <li class="terms alt"><a href="#">Privacy Policy</a></li>
          <li class="copyright"><a href="#">Copyright Complaints</a></li>
          <li><a href="#">Trademark Notice</a></li>
        </ul>
      </div>
      <div class="clear"></div>
      <p class="copyright vcard">
        <span>&copy;</span>
        <span class="fn org">Her Dear Diary Initiative</span>.
        <span class="adr">
          <span class="locality">Kano</span>
          <!-- <span class="region">California</span> <span class="postal-code">94305</span>. -->
        </span>
      </p>
    </div>
  </div>
</div>
