<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_('About')}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <section class="vision">
            <section class="message left" id="about">
                <article>
                    <h2>${_('About')} <span class="lagunita">Leadr©</span></h2>
                    <p><b>Leadr©</b> is an online learning platform designed to offer Open Online Courses (OOCs) to learners of all ages, disciplines, and educational interests. The platform is owned by Her Dear Diary Initiative HDDI and used for the organization’s leadership development project HerWrite2Lead currently being implemented across high schools in Northern Nigeria to empower adolescent girls with leadership skills. The platform is simplistic in its operation and absent any complexities that will render it difficult to use so that users can enjoy a seamless learning experience online. 
                    </p>
                    <p><b>Leadr©</b> doesn’t require the user to be tech savvy or ICT conscious - in 3 steps the user can access all of the features Leadr© offers;</p>
                        <ol>
                            <li>Sign up</li>
                            <li>Login</li>
                            <li>Enroll for a course and start learning.</li>
                        </ol>
                    <p>
                        While the platform was developed to reach the target audience specified for the HDDI HerWrite2Lead project, the usage of Leadr© isn’t restricted to this demographic as the platform delivers professional and personal development opportunities to learners looking to acquire the necessary tools and knowledge required to excel in their respective fields of expertise.
                    </p>
    
                    <p><address><b>Leadr©</b> was funded by The <b>Pollination Project</b> - 1569 Solano Ave. #643 Berkeley, CA 94707 and developed by <b>Logical Address LTD</b> – 3rd Floor, Taen Business Complex, Yakubu Gowon Way, Jos Plateau State Nigeria for <b>Her Dear Diary Initiative</b> – S265 Daurawa, Maiduguri Road , Kano State Nigeria.</address>
                    </p>
                     </article>
            </section>
        </section>
    </section>
</main>
